USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 2026/7/5 下午 02:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[NAME] [nchar](10) NULL
) ON [PRIMARY]
GO
