USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[LeavePreference]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeavePreference](
	[PreferenceID] [int] IDENTITY(1,1) NOT NULL,
	[OpenDate] [date] NOT NULL,
	[LeaveStartDate] [date] NOT NULL,
	[LeaveEndDate] [date] NOT NULL,
	[WorkId] [nvarchar](20) NOT NULL,
	[TargetDate] [date] NOT NULL,
	[PreferenceOrder] [int] NOT NULL,
	[SelectionStatus] [int] NOT NULL,
	[SubmitTime] [datetime] NOT NULL,
 CONSTRAINT [PK_LeavePreference] PRIMARY KEY CLUSTERED 
(
	[PreferenceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LeavePreference] ON 

INSERT [dbo].[LeavePreference] ([PreferenceID], [OpenDate], [LeaveStartDate], [LeaveEndDate], [WorkId], [TargetDate], [PreferenceOrder], [SelectionStatus], [SubmitTime]) VALUES (1, CAST(N'2025-10-15' AS Date), CAST(N'2026-01-01' AS Date), CAST(N'2026-06-30' AS Date), N'333', CAST(N'2026-05-01' AS Date), 1, 2, CAST(N'2026-07-11T14:35:00.000' AS DateTime))
INSERT [dbo].[LeavePreference] ([PreferenceID], [OpenDate], [LeaveStartDate], [LeaveEndDate], [WorkId], [TargetDate], [PreferenceOrder], [SelectionStatus], [SubmitTime]) VALUES (2, CAST(N'2025-10-15' AS Date), CAST(N'2026-01-01' AS Date), CAST(N'2026-06-30' AS Date), N'777', CAST(N'2026-05-01' AS Date), 1, 0, CAST(N'2026-07-11T14:35:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[LeavePreference] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Emp_Leave_Period_PrefOrder]    Script Date: 2026/7/11 下午 04:15:37 ******/
ALTER TABLE [dbo].[LeavePreference] ADD  CONSTRAINT [UK_Emp_Leave_Period_PrefOrder] UNIQUE NONCLUSTERED 
(
	[OpenDate] ASC,
	[LeaveStartDate] ASC,
	[WorkId] ASC,
	[PreferenceOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LeavePreference] ADD  DEFAULT ((1)) FOR [SelectionStatus]
GO
ALTER TABLE [dbo].[LeavePreference] ADD  DEFAULT (getdate()) FOR [SubmitTime]
GO
ALTER TABLE [dbo].[LeavePreference]  WITH CHECK ADD  CONSTRAINT [FK_LeavePreference_Employee] FOREIGN KEY([WorkId])
REFERENCES [dbo].[Employee] ([WorkId])
GO
ALTER TABLE [dbo].[LeavePreference] CHECK CONSTRAINT [FK_LeavePreference_Employee]
GO
