USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[LeaveApplication]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveApplication](
	[LeaveID] [int] IDENTITY(1,1) NOT NULL,
	[FormDocNo]  AS ((('LEAVE-'+CONVERT([varchar](8),[ApplyTime],(112)))+'-')+right('000'+CONVERT([varchar],[LeaveID]),(3))),
	[WorkId] [nvarchar](20) NOT NULL,
	[ApplyType] [nvarchar](20) NOT NULL,
	[LeaveType] [nvarchar](20) NOT NULL,
	[AgentWorkId] [nvarchar](20) NOT NULL,
	[ReasonNotes] [nvarchar](255) NULL,
	[TotalHours] [decimal](5, 1) NOT NULL,
	[ApplyTime] [datetime] NOT NULL,
	[RejectReasonCode] [int] NULL,
	[RejectReply] [nvarchar](255) NULL,
	[AgentSignTime] [datetime] NULL,
	[Status] [int] NOT NULL,
	[ClerkWorkId] [nvarchar](20) NULL,
	[ClerkSignTime] [datetime] NULL,
	[LeaderWorkId] [nvarchar](20) NULL,
	[LeaderSignTime] [datetime] NULL,
	[PdfFilePath] [nvarchar](255) NULL,
 CONSTRAINT [PK_LeaveApplication] PRIMARY KEY CLUSTERED 
(
	[LeaveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LeaveApplication] ON 

INSERT [dbo].[LeaveApplication] ([LeaveID], [WorkId], [ApplyType], [LeaveType], [AgentWorkId], [ReasonNotes], [TotalHours], [ApplyTime], [RejectReasonCode], [RejectReply], [AgentSignTime], [Status], [ClerkWorkId], [ClerkSignTime], [LeaderWorkId], [LeaderSignTime], [PdfFilePath]) VALUES (1, N'333', N'網班請假(3日前)', N'事假', N'555', N'照顧小孩', CAST(20.0 AS Decimal(5, 1)), CAST(N'2026-07-11T14:34:00.000' AS DateTime), NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LeaveApplication] OFF
GO
ALTER TABLE [dbo].[LeaveApplication] ADD  DEFAULT (getdate()) FOR [ApplyTime]
GO
ALTER TABLE [dbo].[LeaveApplication] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[LeaveApplication]  WITH CHECK ADD  CONSTRAINT [FK_Leave_Agent] FOREIGN KEY([AgentWorkId])
REFERENCES [dbo].[Employee] ([WorkId])
GO
ALTER TABLE [dbo].[LeaveApplication] CHECK CONSTRAINT [FK_Leave_Agent]
GO
ALTER TABLE [dbo].[LeaveApplication]  WITH CHECK ADD  CONSTRAINT [FK_Leave_Employee] FOREIGN KEY([WorkId])
REFERENCES [dbo].[Employee] ([WorkId])
GO
ALTER TABLE [dbo].[LeaveApplication] CHECK CONSTRAINT [FK_Leave_Employee]
GO
