USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[ShiftSwapApplication]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftSwapApplication](
	[SwapID] [int] IDENTITY(1,1) NOT NULL,
	[FormDocNo]  AS ((('SWAP-'+CONVERT([varchar](8),[ApplyTime],(112)))+'-')+right('000'+CONVERT([varchar],[SwapID]),(3))),
	[ApplicantWorkId] [nvarchar](20) NOT NULL,
	[SourceDate] [date] NOT NULL,
	[SourceTime] [nvarchar](50) NOT NULL,
	[SourceArea] [nvarchar](50) NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[ApplyTime] [datetime] NOT NULL,
	[TargetWorkId] [nvarchar](20) NOT NULL,
	[TargetDate] [date] NOT NULL,
	[TargetTime] [nvarchar](50) NOT NULL,
	[TargetArea] [nvarchar](50) NOT NULL,
	[RejectReasonCode] [int] NULL,
	[TargetReply] [nvarchar](255) NULL,
	[TargetSignTime] [datetime] NULL,
	[Status] [int] NOT NULL,
	[ClerkWorkId] [nvarchar](20) NULL,
	[ClerkSignTime] [datetime] NULL,
	[LeaderWorkId] [nvarchar](20) NULL,
	[LeaderSignTime] [datetime] NULL,
	[PdfFilePath] [nvarchar](255) NULL,
 CONSTRAINT [PK_ShiftSwapApplication] PRIMARY KEY CLUSTERED 
(
	[SwapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ShiftSwapApplication] ON 

INSERT [dbo].[ShiftSwapApplication] ([SwapID], [ApplicantWorkId], [SourceDate], [SourceTime], [SourceArea], [Reason], [ApplyTime], [TargetWorkId], [TargetDate], [TargetTime], [TargetArea], [RejectReasonCode], [TargetReply], [TargetSignTime], [Status], [ClerkWorkId], [ClerkSignTime], [LeaderWorkId], [LeaderSignTime], [PdfFilePath]) VALUES (1, N'333', CAST(N'2026-10-15' AS Date), N'13:00~21:00', N'運動治療區(N)', N'當月需照顧小孩', CAST(N'2026-07-11T14:34:00.000' AS DateTime), N'444', CAST(N'2026-11-12' AS Date), N'13:00~21:00', N'電療區(O)', NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ShiftSwapApplication] OFF
GO
ALTER TABLE [dbo].[ShiftSwapApplication] ADD  DEFAULT (getdate()) FOR [ApplyTime]
GO
ALTER TABLE [dbo].[ShiftSwapApplication] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ShiftSwapApplication]  WITH CHECK ADD  CONSTRAINT [FK_Swap_Applicant] FOREIGN KEY([ApplicantWorkId])
REFERENCES [dbo].[Employee] ([WorkId])
GO
ALTER TABLE [dbo].[ShiftSwapApplication] CHECK CONSTRAINT [FK_Swap_Applicant]
GO
ALTER TABLE [dbo].[ShiftSwapApplication]  WITH CHECK ADD  CONSTRAINT [FK_Swap_Target] FOREIGN KEY([TargetWorkId])
REFERENCES [dbo].[Employee] ([WorkId])
GO
ALTER TABLE [dbo].[ShiftSwapApplication] CHECK CONSTRAINT [FK_Swap_Target]
GO
