USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[User_Notifications]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiverWorkId] [nvarchar](20) NOT NULL,
	[Category] [nvarchar](20) NOT NULL,
	[CardColorType] [nvarchar](20) NOT NULL,
	[MessageText] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[ExpireTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User_Notifications] ON 

INSERT [dbo].[User_Notifications] ([NotificationID], [ReceiverWorkId], [Category], [CardColorType], [MessageText], [IsRead], [CreateTime], [ExpireTime]) VALUES (1, N'333', N'調班', N'淡粉色', N'陳大強 向您發起了調班請求，欲以 6/12 班次調換您 6/11 班次。', 0, CAST(N'2026-07-11T16:11:05.260' AS DateTime), CAST(N'2026-10-11T16:11:05.260' AS DateTime))
INSERT [dbo].[User_Notifications] ([NotificationID], [ReceiverWorkId], [Category], [CardColorType], [MessageText], [IsRead], [CreateTime], [ExpireTime]) VALUES (2, N'333', N'排班表', N'藍綠色', N'初版班表已發布，請同仁於一週內完成核對確認。', 0, CAST(N'2026-07-11T16:11:05.260' AS DateTime), CAST(N'2026-10-11T16:11:05.260' AS DateTime))
SET IDENTITY_INSERT [dbo].[User_Notifications] OFF
GO
ALTER TABLE [dbo].[User_Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[User_Notifications] ADD  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[User_Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Employee] FOREIGN KEY([ReceiverWorkId])
REFERENCES [dbo].[Employee] ([WorkId])
GO
ALTER TABLE [dbo].[User_Notifications] CHECK CONSTRAINT [FK_Notif_Employee]
GO
