USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[AreaShiftMinStaff]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaShiftMinStaff](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[AreaCode] [varchar](20) NOT NULL,
	[AreaName] [nvarchar](50) NOT NULL,
	[ShiftType] [nvarchar](10) NOT NULL,
	[MinStaffCount] [int] NOT NULL,
	[UpdateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_AreaShiftMinStaff] PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AreaShiftMinStaff] ON 

INSERT [dbo].[AreaShiftMinStaff] ([SettingID], [AreaCode], [AreaName], [ShiftType], [MinStaffCount], [UpdateTime]) VALUES (1, N'Ortho', N'電療區', N'上午', 5, CAST(N'2026-07-11T14:31:00.000' AS DateTime))
INSERT [dbo].[AreaShiftMinStaff] ([SettingID], [AreaCode], [AreaName], [ShiftType], [MinStaffCount], [UpdateTime]) VALUES (2, N'Ortho', N'電療區', N'下午', 6, CAST(N'2026-07-11T14:31:00.000' AS DateTime))
INSERT [dbo].[AreaShiftMinStaff] ([SettingID], [AreaCode], [AreaName], [ShiftType], [MinStaffCount], [UpdateTime]) VALUES (3, N'Neuro', N'運動治療區', N'上午', 4, CAST(N'2026-07-11T14:31:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[AreaShiftMinStaff] OFF
GO
ALTER TABLE [dbo].[AreaShiftMinStaff] ADD  DEFAULT ((5)) FOR [MinStaffCount]
GO
ALTER TABLE [dbo].[AreaShiftMinStaff] ADD  DEFAULT (getdate()) FOR [UpdateTime]
GO
