USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[NightShiftSchedule]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NightShiftSchedule](
	[NightShiftID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftYear] [int] NOT NULL,
	[ShiftMonth] [int] NOT NULL,
	[SerialID] [int] NOT NULL,
	[AreaName] [nvarchar](50) NOT NULL,
	[Remark] [nvarchar](100) NULL,
 CONSTRAINT [PK_NightShiftSchedule] PRIMARY KEY CLUSTERED 
(
	[NightShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Shift_Year_Month_Area]    Script Date: 2026/7/11 下午 04:15:37 ******/
ALTER TABLE [dbo].[NightShiftSchedule] ADD  CONSTRAINT [UK_Shift_Year_Month_Area] UNIQUE NONCLUSTERED 
(
	[ShiftYear] ASC,
	[ShiftMonth] ASC,
	[AreaName] ASC,
	[SerialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NightShiftSchedule]  WITH CHECK ADD  CONSTRAINT [FK_NightShift_EmployeeSerial] FOREIGN KEY([SerialID])
REFERENCES [dbo].[EmployeeSerial] ([SerialID])
GO
ALTER TABLE [dbo].[NightShiftSchedule] CHECK CONSTRAINT [FK_NightShift_EmployeeSerial]
GO
