USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[ShiftTransferApplication]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftTransferApplication](
	[TransferID] [int] IDENTITY(1,1) NOT NULL,
	[FormDocNo]  AS ((('XFER-'+CONVERT([varchar](8),[ApplyTime],(112)))+'-')+right('000'+CONVERT([varchar],[TransferID]),(3))),
	[ApplicantWorkId] [nvarchar](20) NOT NULL,
	[SourceDate] [date] NOT NULL,
	[SourceTime] [nvarchar](50) NOT NULL,
	[SourceArea] [nvarchar](50) NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[ApplyTime] [datetime] NOT NULL,
	[TargetWorkId] [nvarchar](20) NOT NULL,
	[TargetShiftInfo] [nvarchar](100) NOT NULL,
	[RejectReasonCode] [int] NULL,
	[TargetReply] [nvarchar](255) NULL,
	[TargetSignTime] [datetime] NULL,
	[Status] [int] NOT NULL,
	[ClerkWorkId] [nvarchar](20) NULL,
	[ClerkSignTime] [datetime] NULL,
	[LeaderWorkId] [nvarchar](20) NULL,
	[LeaderSignTime] [datetime] NULL,
 CONSTRAINT [PK_ShiftTransferApplication] PRIMARY KEY CLUSTERED 
(
	[TransferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ShiftTransferApplication] ON 

INSERT [dbo].[ShiftTransferApplication] ([TransferID], [ApplicantWorkId], [SourceDate], [SourceTime], [SourceArea], [Reason], [ApplyTime], [TargetWorkId], [TargetShiftInfo], [RejectReasonCode], [TargetReply], [TargetSignTime], [Status], [ClerkWorkId], [ClerkSignTime], [LeaderWorkId], [LeaderSignTime]) VALUES (1, N'333', CAST(N'2026-07-15' AS Date), N'08:00~12:00', N'電療區(O)', N'早班時間調整', CAST(N'2026-07-11T14:34:00.000' AS DateTime), N'444', N'休假', NULL, NULL, NULL, 3, N'333', CAST(N'2026-07-11T15:00:00.000' AS DateTime), N'EMP001', CAST(N'2026-07-11T15:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ShiftTransferApplication] OFF
GO
ALTER TABLE [dbo].[ShiftTransferApplication] ADD  DEFAULT (getdate()) FOR [ApplyTime]
GO
ALTER TABLE [dbo].[ShiftTransferApplication] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ShiftTransferApplication]  WITH CHECK ADD  CONSTRAINT [FK_Transfer_Applicant] FOREIGN KEY([ApplicantWorkId])
REFERENCES [dbo].[Employee] ([WorkId])
GO
ALTER TABLE [dbo].[ShiftTransferApplication] CHECK CONSTRAINT [FK_Transfer_Applicant]
GO
ALTER TABLE [dbo].[ShiftTransferApplication]  WITH CHECK ADD  CONSTRAINT [FK_Transfer_Target] FOREIGN KEY([TargetWorkId])
REFERENCES [dbo].[Employee] ([WorkId])
GO
ALTER TABLE [dbo].[ShiftTransferApplication] CHECK CONSTRAINT [FK_Transfer_Target]
GO
