USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[LeaveDetail]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveDetail](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[LeaveID] [int] NOT NULL,
	[LeaveDate] [date] NOT NULL,
	[TimeType] [nvarchar](20) NOT NULL,
	[StartTime] [varchar](5) NULL,
	[EndTime] [varchar](5) NULL,
	[HoursCount] [decimal](4, 1) NOT NULL,
 CONSTRAINT [PK_LeaveDetail] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LeaveDetail] ON 

INSERT [dbo].[LeaveDetail] ([DetailID], [LeaveID], [LeaveDate], [TimeType], [StartTime], [EndTime], [HoursCount]) VALUES (1, 1, CAST(N'2026-05-17' AS Date), N'整天', N'08:00', N'17:00', CAST(8.0 AS Decimal(4, 1)))
INSERT [dbo].[LeaveDetail] ([DetailID], [LeaveID], [LeaveDate], [TimeType], [StartTime], [EndTime], [HoursCount]) VALUES (2, 1, CAST(N'2026-05-18' AS Date), N'整天', N'08:00', N'17:00', CAST(8.0 AS Decimal(4, 1)))
SET IDENTITY_INSERT [dbo].[LeaveDetail] OFF
GO
ALTER TABLE [dbo].[LeaveDetail]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Leave] FOREIGN KEY([LeaveID])
REFERENCES [dbo].[LeaveApplication] ([LeaveID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaveDetail] CHECK CONSTRAINT [FK_Detail_Leave]
GO
