USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[Announcement]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcement](
	[AnnouncementID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TargetAudience] [nvarchar](100) NULL,
	[UpdateTime] [datetime] NOT NULL,
	[Issuer] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Announcement] PRIMARY KEY CLUSTERED 
(
	[AnnouncementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Announcement] ON 

INSERT [dbo].[Announcement] ([AnnouncementID], [Title], [Content], [Status], [TargetAudience], [UpdateTime], [Issuer]) VALUES (1, N'每週一、五下午護理之家', N'請各位治療師注意，每週一與週五下午需前往護理之家進行支援。', N'已發布', N'陳美珠', CAST(N'2025-11-27T11:50:00.000' AS DateTime), N'美珠(管理員)')
SET IDENTITY_INSERT [dbo].[Announcement] OFF
GO
ALTER TABLE [dbo].[Announcement] ADD  DEFAULT (getdate()) FOR [UpdateTime]
GO
