USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[Roster_Publish_Status]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roster_Publish_Status](
	[PeriodNo] [int] NOT NULL,
	[RosterType] [nvarchar](20) NOT NULL,
	[IsPublished] [bit] NOT NULL,
	[PublishTimestamp] [datetime] NULL,
 CONSTRAINT [PK_Roster_Publish] PRIMARY KEY CLUSTERED 
(
	[PeriodNo] ASC,
	[RosterType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Roster_Publish_Status] ADD  DEFAULT ((0)) FOR [IsPublished]
GO
