USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[InitialSchedule]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InitialSchedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleDate] [date] NOT NULL,
	[WorkArea] [nvarchar](50) NOT NULL,
	[ShiftType] [nvarchar](50) NOT NULL,
	[WorkId] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InitialSchedule] ON 

INSERT [dbo].[InitialSchedule] ([ScheduleID], [ScheduleDate], [WorkArea], [ShiftType], [WorkId]) VALUES (1, CAST(N'2026-07-20' AS Date), N'電療區(O)', N'早班', N'333')
INSERT [dbo].[InitialSchedule] ([ScheduleID], [ScheduleDate], [WorkArea], [ShiftType], [WorkId]) VALUES (2, CAST(N'2026-07-20' AS Date), N'運動治療區(N)', N'午班', N'333')
SET IDENTITY_INSERT [dbo].[InitialSchedule] OFF
GO
ALTER TABLE [dbo].[InitialSchedule]  WITH CHECK ADD  CONSTRAINT [FK_InitialSchedule_Employee] FOREIGN KEY([WorkId])
REFERENCES [dbo].[Employee] ([WorkId])
GO
ALTER TABLE [dbo].[InitialSchedule] CHECK CONSTRAINT [FK_InitialSchedule_Employee]
GO
