USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[SystemConfig]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfig](
	[ConfigID] [int] IDENTITY(1,1) NOT NULL,
	[DrawDate] [varchar](10) NULL,
	[FirstHalfOpenDate] [varchar](10) NULL,
	[SecondHalfOpenDate] [varchar](10) NULL,
	[ScheduleIntervalWeeks] [int] NOT NULL,
	[SuspensionDate] [varchar](10) NULL,
	[SuspensionShift] [nvarchar](20) NULL,
	[FullTimeMaxHours] [int] NOT NULL,
	[InternMaxHours] [int] NOT NULL,
 CONSTRAINT [PK_SystemConfig] PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SystemConfig] ADD  DEFAULT ((4)) FOR [ScheduleIntervalWeeks]
GO
ALTER TABLE [dbo].[SystemConfig] ADD  DEFAULT ((40)) FOR [FullTimeMaxHours]
GO
ALTER TABLE [dbo].[SystemConfig] ADD  DEFAULT ((20)) FOR [InternMaxHours]
GO
