USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[AttendanceRecord]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceRecord](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[WorkId] [nvarchar](20) NOT NULL,
	[LogDate] [date] NOT NULL,
	[AttendanceStatus] [nvarchar](20) NOT NULL,
	[ActualHours] [decimal](4, 1) NOT NULL,
	[UpdateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_AttendanceRecord] PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Emp_Attendance_Date]    Script Date: 2026/7/11 下午 04:15:37 ******/
ALTER TABLE [dbo].[AttendanceRecord] ADD  CONSTRAINT [UK_Emp_Attendance_Date] UNIQUE NONCLUSTERED 
(
	[WorkId] ASC,
	[LogDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AttendanceRecord] ADD  DEFAULT (getdate()) FOR [UpdateTime]
GO
ALTER TABLE [dbo].[AttendanceRecord]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Employee] FOREIGN KEY([WorkId])
REFERENCES [dbo].[Employee] ([WorkId])
GO
ALTER TABLE [dbo].[AttendanceRecord] CHECK CONSTRAINT [FK_Attendance_Employee]
GO
