USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[EmployeeDispatch]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDispatch](
	[DispatchID] [int] IDENTITY(1,1) NOT NULL,
	[SerialID] [int] NOT NULL,
	[DispatchYear] [int] NOT NULL,
	[DispatchMonth] [int] NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
	[UpdateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_EmployeeDispatch] PRIMARY KEY CLUSTERED 
(
	[DispatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UK_Dispatch_Year_Month]    Script Date: 2026/7/11 下午 04:15:37 ******/
ALTER TABLE [dbo].[EmployeeDispatch] ADD  CONSTRAINT [UK_Dispatch_Year_Month] UNIQUE NONCLUSTERED 
(
	[SerialID] ASC,
	[DispatchYear] ASC,
	[DispatchMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeDispatch] ADD  DEFAULT (getdate()) FOR [UpdateTime]
GO
ALTER TABLE [dbo].[EmployeeDispatch]  WITH CHECK ADD  CONSTRAINT [FK_Dispatch_EmployeeSerial] FOREIGN KEY([SerialID])
REFERENCES [dbo].[EmployeeSerial] ([SerialID])
GO
ALTER TABLE [dbo].[EmployeeDispatch] CHECK CONSTRAINT [FK_Dispatch_EmployeeSerial]
GO
