USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[ConfigLog]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ChangeDate] [datetime] NOT NULL,
	[ChangeItem] [nvarchar](50) NOT NULL,
	[NewValue] [nvarchar](100) NOT NULL,
	[OldValue] [nvarchar](100) NOT NULL,
	[Executor] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ConfigLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConfigLog] ADD  DEFAULT (getdate()) FOR [ChangeDate]
GO
