USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[WorkId] [nvarchar](20) NOT NULL,
	[EmpName] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[JobTitle] [nvarchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[HomeTel] [varchar](20) NULL,
	[PhotoPath] [nvarchar](255) NULL,
	[ArrivalDate] [date] NOT NULL,
	[CreateAccountDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[WorkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([WorkId], [EmpName], [Gender], [JobTitle], [Email], [Phone], [HomeTel], [PhotoPath], [ArrivalDate], [CreateAccountDate]) VALUES (N'333', N'子軒', N'男', N'書記', N'subright@gmail.com', N'0912345678', N'0223456789', N'subright_photo.png', CAST(N'2026-05-24' AS Date), CAST(N'2026-07-11T16:11:05.240' AS DateTime))
INSERT [dbo].[Employee] ([WorkId], [EmpName], [Gender], [JobTitle], [Email], [Phone], [HomeTel], [PhotoPath], [ArrivalDate], [CreateAccountDate]) VALUES (N'444', N'王小明', N'男', N'復健師', N'xiaoming@gmail.com', N'0922345678', N'0223456780', NULL, CAST(N'2026-05-24' AS Date), CAST(N'2026-07-11T16:11:05.240' AS DateTime))
INSERT [dbo].[Employee] ([WorkId], [EmpName], [Gender], [JobTitle], [Email], [Phone], [HomeTel], [PhotoPath], [ArrivalDate], [CreateAccountDate]) VALUES (N'555', N'王小美', N'女', N'復健師', N'xiaomei@gmail.com', N'0932345678', N'0223456781', NULL, CAST(N'2026-05-24' AS Date), CAST(N'2026-07-11T16:11:05.240' AS DateTime))
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (getdate()) FOR [CreateAccountDate]
GO
