USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[EmployeeSerial]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSerial](
	[SerialID] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [varchar](20) NOT NULL,
	[EmpName] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[YearNumber] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[RuleTag] [nvarchar](20) NULL,
	[WorkId] [nvarchar](20) NULL,
 CONSTRAINT [PK_EmployeeSerial] PRIMARY KEY CLUSTERED 
(
	[SerialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmployeeSerial] ON 

INSERT [dbo].[EmployeeSerial] ([SerialID], [SerialNumber], [EmpName], [Gender], [YearNumber], [CreateDate], [RuleTag], [WorkId]) VALUES (1, N'2026001', N'林子軒', N'男', 2026, CAST(N'2026-07-11T14:31:00.000' AS DateTime), NULL, N'333')
INSERT [dbo].[EmployeeSerial] ([SerialID], [SerialNumber], [EmpName], [Gender], [YearNumber], [CreateDate], [RuleTag], [WorkId]) VALUES (2, N'2026002', N'陳美珠', N'女', 2026, CAST(N'2026-07-11T14:31:00.000' AS DateTime), NULL, N'EMP001')
INSERT [dbo].[EmployeeSerial] ([SerialID], [SerialNumber], [EmpName], [Gender], [YearNumber], [CreateDate], [RuleTag], [WorkId]) VALUES (3, N'2027001', N'子軒', N'男', 2027, CAST(N'2026-07-11T15:30:00.000' AS DateTime), N'男單女雙', N'333')
SET IDENTITY_INSERT [dbo].[EmployeeSerial] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Year_Serial]    Script Date: 2026/7/11 下午 04:15:37 ******/
ALTER TABLE [dbo].[EmployeeSerial] ADD  CONSTRAINT [UK_Year_Serial] UNIQUE NONCLUSTERED 
(
	[YearNumber] ASC,
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeSerial] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[EmployeeSerial]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeSerial_Employee] FOREIGN KEY([WorkId])
REFERENCES [dbo].[Employee] ([WorkId])
GO
ALTER TABLE [dbo].[EmployeeSerial] CHECK CONSTRAINT [FK_EmployeeSerial_Employee]
GO
