USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[EmployeeLeaveQuota]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeLeaveQuota](
	[QuotaID] [int] IDENTITY(1,1) NOT NULL,
	[WorkId] [nvarchar](20) NOT NULL,
	[LeaveType] [nvarchar](20) NOT NULL,
	[YearOption] [int] NOT NULL,
	[TotalDays] [decimal](4, 1) NOT NULL,
	[RemainingDays] [decimal](4, 1) NOT NULL,
	[UpdateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_EmployeeLeaveQuota] PRIMARY KEY CLUSTERED 
(
	[QuotaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmployeeLeaveQuota] ON 

INSERT [dbo].[EmployeeLeaveQuota] ([QuotaID], [WorkId], [LeaveType], [YearOption], [TotalDays], [RemainingDays], [UpdateTime]) VALUES (1, N'333', N'特休', 2026, CAST(7.0 AS Decimal(4, 1)), CAST(5.0 AS Decimal(4, 1)), CAST(N'2026-07-11T14:34:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[EmployeeLeaveQuota] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Emp_Leave_Year]    Script Date: 2026/7/11 下午 04:15:37 ******/
ALTER TABLE [dbo].[EmployeeLeaveQuota] ADD  CONSTRAINT [UK_Emp_Leave_Year] UNIQUE NONCLUSTERED 
(
	[WorkId] ASC,
	[LeaveType] ASC,
	[YearOption] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeLeaveQuota] ADD  DEFAULT (getdate()) FOR [UpdateTime]
GO
ALTER TABLE [dbo].[EmployeeLeaveQuota]  WITH CHECK ADD  CONSTRAINT [FK_Quota_Employee] FOREIGN KEY([WorkId])
REFERENCES [dbo].[Employee] ([WorkId])
GO
ALTER TABLE [dbo].[EmployeeLeaveQuota] CHECK CONSTRAINT [FK_Quota_Employee]
GO
