USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[WorkId] [nvarchar](20) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Status] [int] NOT NULL,
	[UpdateTime] [datetime] NOT NULL,
	[ResetCode] [varchar](10) NULL,
	[ResetCodeExpireTime] [datetime] NULL,
	[PasswordLastUpdated] [date] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[WorkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([WorkId], [Password], [Status], [UpdateTime], [ResetCode], [ResetCodeExpireTime], [PasswordLastUpdated]) VALUES (N'333', N'password123', 1, CAST(N'2026-07-11T14:30:00.000' AS DateTime), NULL, NULL, CAST(N'2026-07-11' AS Date))
INSERT [dbo].[Account] ([WorkId], [Password], [Status], [UpdateTime], [ResetCode], [ResetCodeExpireTime], [PasswordLastUpdated]) VALUES (N'EMP001', N'leader789', 1, CAST(N'2026-07-11T14:30:00.000' AS DateTime), NULL, NULL, CAST(N'2026-07-11' AS Date))
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [UpdateTime]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [PasswordLastUpdated]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Employee] FOREIGN KEY([WorkId])
REFERENCES [dbo].[Employee] ([WorkId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Employee]
GO
