USE [復健科排班系統]
GO
/****** Object:  Table [dbo].[WorkHours]    Script Date: 2026/7/11 下午 04:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkHours](
	[WorkHoursID] [int] IDENTITY(1,1) NOT NULL,
	[WeekNoString] [nvarchar](100) NOT NULL,
	[WeekStartDate] [date] NOT NULL,
	[WeekEndDate] [date] NOT NULL,
	[WorkId] [nvarchar](20) NOT NULL,
	[RequiredHours] [int] NOT NULL,
	[ActualHoursSum] [int] NOT NULL,
	[ApprovedLeaveHrs] [int] NOT NULL,
	[OwedHours]  AS (([ActualHoursSum]+[ApprovedLeaveHrs])-[RequiredHours]),
	[WeekStatusText] [nvarchar](50) NOT NULL,
	[LastCalcTime] [datetime] NOT NULL,
 CONSTRAINT [PK_WorkHours] PRIMARY KEY CLUSTERED 
(
	[WorkHoursID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WorkHours] ON 

INSERT [dbo].[WorkHours] ([WorkHoursID], [WeekNoString], [WeekStartDate], [WeekEndDate], [WorkId], [RequiredHours], [ActualHoursSum], [ApprovedLeaveHrs], [WeekStatusText], [LastCalcTime]) VALUES (1, N'第43週期_第1週', CAST(N'2026-04-13' AS Date), CAST(N'2026-04-19' AS Date), N'333', 40, 40, 0, N'時數無異常', CAST(N'2026-07-11T14:34:00.000' AS DateTime))
INSERT [dbo].[WorkHours] ([WorkHoursID], [WeekNoString], [WeekStartDate], [WeekEndDate], [WorkId], [RequiredHours], [ActualHoursSum], [ApprovedLeaveHrs], [WeekStatusText], [LastCalcTime]) VALUES (2, N'第43週期_第1週', CAST(N'2026-04-13' AS Date), CAST(N'2026-04-19' AS Date), N'777', 40, 32, 0, N'尚未請假', CAST(N'2026-07-11T14:34:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[WorkHours] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Week_Employee_Hours]    Script Date: 2026/7/11 下午 04:15:37 ******/
ALTER TABLE [dbo].[WorkHours] ADD  CONSTRAINT [UK_Week_Employee_Hours] UNIQUE NONCLUSTERED 
(
	[WeekNoString] ASC,
	[WorkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WorkHours] ADD  DEFAULT ('時數無異常') FOR [WeekStatusText]
GO
ALTER TABLE [dbo].[WorkHours] ADD  DEFAULT (getdate()) FOR [LastCalcTime]
GO
ALTER TABLE [dbo].[WorkHours]  WITH CHECK ADD  CONSTRAINT [FK_WorkHours_Employee] FOREIGN KEY([WorkId])
REFERENCES [dbo].[Employee] ([WorkId])
GO
ALTER TABLE [dbo].[WorkHours] CHECK CONSTRAINT [FK_WorkHours_Employee]
GO
